backend:
  name: git-gateway
  branch: main

# This line is critical for local development
local_backend: true

media_folder: "public/img/blog"
public_folder: "/img/blog"

collections:
  - name: "blog"
    label: "Blog"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Summary", name: "summary", widget: "text"}
      - {label: "Author", name: "author", widget: "string", default: "Sanitized AI Team"}
      - {label: "Tags", name: "tags", widget: "list", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
